<mat-toolbar color="primary" class="mat-elevation-z5">
    <span><strong>KKM Soft</strong></span>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)=togglenav(sidenav)>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="fill-space"></span>
    <button mat-icon-button>
        <mat-icon class="kkm-icon" aria-label="Settings icon" aria-hidden="false">settings</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="kkm-icon" aria-label="home icon" aria-hidden="false">home</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode=side opened>
        <mat-nav-list style="width:200px">
        <a mat-list-item routerLink="login" skipLocationChange="true">
            <mat-icon>login</mat-icon>&nbsp;<label><strong>Login</strong></label>
        </a>
        <a mat-list-item routerLink="product" skipLocationChange="true">
            <mat-icon>production_quantity_limits</mat-icon>&nbsp;<label><strong>Products</strong></label>
        </a>
        <a mat-list-item routerLink="/lazyloading/lazy" skipLocationChange="true">
            <mat-icon>category</mat-icon>&nbsp;<label><strong>Lazy Loading</strong></label>
        </a>
     </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
<p style="height:80vh">
    <router-outlet></router-outlet>
</p>

</mat-sidenav-content>
   
  </mat-sidenav-container>